.hero-section
{
    display: var(--flex-display);
    align-items: var(--flex-ai-c);
}

.container
{
    display: var(--flex-display);
    justify-content: var(--flex-jc-sb);
    align-items: var(--flex-ai-c);
    flex-grow: 1;
    height: 350px;
    margin: 0 auto;
    padding: 2.25rem 1.5rem;
}

.cta-wrapper, .title-wrapper
{
    display: var(--flex-display);
    flex-direction: column;
    justify-content: var(--flex-jc-sb);
    align-items: var(--flex-ai-c);
    text-align: center;
}

.title
{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1rem;
}

.subtitle
{
    color: grey;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.img-wrapper
{
    display: var(--flex-display);
    flex-direction: column;
    flex-grow: 1;
}


.royal-miriam-cape-dress-img
{
    position: relative;
    width: 215px;
    height: 215px;
    background-image: url("Images/royal_miriam_cape_dress.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    background-position: center bottom;
    align-self: flex-end;
}

.why-shop-here-section
{
    display: var(--flex-display);
    align-items: var(--flex-ai-c);
}

.card-wrapper
{
    
}