.section-container
{
    display: var(--flex-display);
    flex-direction: column;
    align-items: var(--flex-ai-c);
    justify-content: var(--flex-jc-sb);
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
}

.section-title
{
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
}

.items-and-cart-container
{
    display: var(--flex-display);
    align-items: var(--flex-ai-c);
    justify-content: var(--flex-jc-sb);
    width: 100%;
    align-self: center;
}

.container-title
{
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.items-container, .cart-container
{
    position: relative;
    display: var(--flex-display);
    flex-direction: column;
    align-items: var(--flex-ai-c);
    min-height: 100vh;
    width: 40%;
}

.store-items, .cart
{
    display: var(--flex-display);
    flex-direction: column;
    align-items: var(--flex-ai-c);
    justify-content: var(--flex-jc-sb);
    width: 100%;
}

.store-items
{
    background-color: black;
    color: white;
}

.store-item
{
    display: var(--flex-display);
    align-items: var(--flex-ai-c);
    justify-content: space-around;
    width: 100%;
}

.store-item:not(:last-child)
{
    margin-bottom: 0.5em;
}

.store-item-title
{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 0.25rem;
}

.store-item-img
{
    width: 105px;
}

.store-item-price
{
    font-weight: bold;
}

.add-to-cart-btn
{
    background-color: royalblue;
    color: ivory;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    border-radius: 0.625rem;
    border: none;
}

.add-to-cart-btn:hover
{
    background-color: rgb(38, 59, 124);
}

.cart
{
    background-color: gold;
}

.cart-row
{

}

.cart-column
{

}

.cart-item
{

}

.cart-price
{

}

.cart-quantity
{

}

.cart-header
{

}

.cart-item-name
{

}

.purchase-btn
{
    
}